In [89]:
import pandas as pd
import csv

In [90]:
dencal = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityCal.csv')
denpenn = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityPenn.csv')
dentex = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityTex.csv')
dengeo = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityGeo.csv')
denvir = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityVir.csv')
denken = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityKen.csv')
denkan = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityKan.csv')
denill = pd.read_csv('/Users/EvelynJulian/Desktop/Metis/Project 2/Density/DensityIll.csv')

In [91]:
denvir.loc[-1] = [133.0, '806.0/sq mi', 'Emporia, VA / 420']
denvir.index = denvir.index + 1
denvir = denvir.sort_index()
df = [dencal, denpenn, dentex, dengeo, denvir, denken, denkan, denill]

x = [den.shape for den in df]

denvir

      Rank Population Density ▼              County / Population
0    133.0          806.0/sq mi                Emporia, VA / 420
1      1.0        9,466.6/sq mi    Alexandria City, VA / 146,422
2      2.0        8,445.9/sq mi          Arlington, VA / 220,173
3      3.0        6,541.0/sq mi   Falls Church City, VA / 13,074
4      4.0        5,914.6/sq mi  Manassas Park City, VA / 14,992
..     ...                  ...                              ...
128  128.0           18.8/sq mi                Bland, VA / 6,727
129  129.0           15.7/sq mi                Craig, VA / 5,206
130  130.0           15.4/sq mi         Northampton, VA / 12,254
131  131.0            8.7/sq mi                 Bath, VA / 4,644
132  132.0            5.4/sq mi             Highland, VA / 2,258

[133 rows x 3 columns]

In [92]:
df = pd.concat(df).reset_index()
df = df.drop(columns=['index', 'Rank'], axis = 1)

def popshave(x):
    pos = x.index(',')
    return x[:pos]

df['County'] = df['County / Population'].apply(popshave)
df = df.rename(columns = {'Population Density ▼': 'Population Density'})

def tostate(x):
    if 'CA' in x:
        return 'California'
    elif 'GA' in x:
        return 'Georgia'
    elif 'IL' in x:
        return 'Illinois'
    elif 'KS' in x:
        return 'Kansas'
    elif 'KY' in x:
        return 'Kentucky'
    elif 'TX' in x:
        return 'Texas'
    elif 'PA' in x:
        return 'Pennsylvania'
    elif 'VA' in x:
        return 'Virginia'
    else:
        return 0

def topop(x):
    x = x[:-6]
    x = x.replace(',', '')
    x = float(x)
    return x 

    
df['State'] = df['County / Population'].apply(tostate)
df['Population Density'] = df['Population Density'].apply(topop)
df = df.drop(columns=['County / Population'], axis = 1)
dfmega = df.sort_values(by=['State','County'], ascending= True)
dfmega

     Population Density             County       State
3                1898.5            Alameda  California
57                  1.6             Alpine  California
35                 61.3             Amador  California
23                132.1              Butte  California
38                 43.3          Calaveras  California
..                  ...                ...         ...
559              1568.2  Williamsburg City    Virginia
547              2921.1    Winchester City    Virginia
602               100.9               Wise    Virginia
623                63.0              Wythe    Virginia
583               306.1               York    Virginia

[998 rows x 3 columns]

In [93]:
dfmega.to_csv(r'MegaDensity.csv')