In [78]:
import pandas as pd
import csv

In [79]:
ages = ['/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsCalAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsPennAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsGeoAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsTexAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsKenAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsIllAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsVirAge.csv',
                   '/Users/EvelynJulian/Desktop/Metis/Project 2/DemAge/DemographicsKanAge.csv']

agecsv = [pd.read_csv(s) for s in ages]
df = pd.concat(agecsv).reset_index()

In [80]:
df = df.sort_values(by=['YEAR'], ascending= False).reset_index()
df = df.iloc[0:998]
df = df.sort_values(by=['STNAME','CTYNAME'], ascending= True)

In [81]:
df = df.drop(['level_0', 'index', 'SUMLEV', 'STATE', 'COUNTY',
       'YEAR', 'POPESTIMATE', 'POPEST_MALE', 'POPEST_FEM', 'UNDER5_TOT',
       'UNDER5_MALE', 'UNDER5_FEM', 'AGE513_TOT', 'AGE513_MALE', 'AGE513_FEM',
       'AGE1417_TOT', 'AGE1417_MALE', 'AGE1417_FEM', 'AGE1824_TOT',
       'AGE1824_MALE', 'AGE1824_FEM', 'AGE16PLUS_TOT', 'AGE16PLUS_MALE',
       'AGE16PLUS_FEM', 'AGE18PLUS_TOT', 'AGE18PLUS_MALE', 'AGE18PLUS_FEM',
       'AGE1544_TOT', 'AGE1544_MALE', 'AGE1544_FEM', 'AGE2544_TOT',
       'AGE2544_MALE', 'AGE2544_FEM', 'AGE4564_TOT', 'AGE4564_MALE',
       'AGE4564_FEM', 'AGE65PLUS_TOT', 'AGE65PLUS_MALE', 'AGE65PLUS_FEM',
       'AGE04_TOT', 'AGE04_MALE', 'AGE04_FEM', 'AGE59_TOT', 'AGE59_MALE',
       'AGE59_FEM', 'AGE1014_TOT', 'AGE1014_MALE', 'AGE1014_FEM',
       'AGE1519_TOT', 'AGE1519_MALE', 'AGE1519_FEM', 'AGE2024_TOT',
       'AGE2024_MALE', 'AGE2024_FEM', 'AGE2529_TOT', 'AGE2529_MALE',
       'AGE2529_FEM', 'AGE3034_TOT', 'AGE3034_MALE', 'AGE3034_FEM',
       'AGE3539_TOT', 'AGE3539_MALE', 'AGE3539_FEM', 'AGE4044_TOT',
       'AGE4044_MALE', 'AGE4044_FEM', 'AGE4549_TOT', 'AGE4549_MALE',
       'AGE4549_FEM', 'AGE5054_TOT', 'AGE5054_MALE', 'AGE5054_FEM',
       'AGE5559_TOT', 'AGE5559_MALE', 'AGE5559_FEM', 'AGE6064_TOT',
       'AGE6064_MALE', 'AGE6064_FEM', 'AGE6569_TOT', 'AGE6569_MALE',
       'AGE6569_FEM', 'AGE7074_TOT', 'AGE7074_MALE', 'AGE7074_FEM',
       'AGE7579_TOT', 'AGE7579_MALE', 'AGE7579_FEM', 'AGE8084_TOT',
       'AGE8084_MALE', 'AGE8084_FEM', 'AGE85PLUS_MALE',
       'AGE85PLUS_FEM', 'MEDIAN_AGE_TOT', 'MEDIAN_AGE_MALE', 'MEDIAN_AGE_FEM'], axis=1)

In [82]:
df = df.reset_index()
df

     index      STNAME            CTYNAME  AGE85PLUS_TOT
0      948  California     Alameda County          31209
1      964  California      Alpine County             29
2      913  California      Amador County           1098
3      927  California       Butte County           5087
4      979  California   Calaveras County           1171
..     ...         ...                ...            ...
993    834    Virginia  Williamsburg city            331
994    811    Virginia    Winchester city            541
995    881    Virginia        Wise County            708
996    862    Virginia       Wythe County            688
997    899    Virginia        York County           1283

[998 rows x 4 columns]

In [87]:
df.to_csv(r'MegaAge.csv')